In [4]:
# variablename = value 
a=10
print(a," data type : ",type(a))
a=10.09
print(a," data type : ",type(a))
a="siddhi"
print(a," data type : ",type(a))
a=True
print(a," data type : ",type(a))
a = None
print(a," data type : ",type(a))

10  data type :  <class 'int'>
10.09  data type :  <class 'float'>
siddhi  data type :  <class 'str'>
True  data type :  <class 'bool'>
None  data type :  <class 'NoneType'>

Indentation
If syntax

In [8]:
# if (condition)
# {

# }
a=10
b=20
if (a>b) :
    print("a is greater")
    print("if block")
else :
    print("b is greater")
print("outside if")

b is greater
outside if

Arithmetic operators cannot happen in string data type, only '+' can be used to concat multiple string

In [13]:
a = "siddhi "
b = "mehta"
# print(a+b)
# print(a*b)
# print(a-b)
# print(a/b)

siddhi mehta

Two new arithmetic operators
Floor division and exponent

In [18]:
# // floor division 
# ** exponent

print(1/1)
print(1//1)

print(2*2)
print(2**3)

print(6%3)

1.0
1
4
8
2.0

Assignment operators

In [21]:
a=10
a+=10 # a=a+10
print(a)

a**=2
print(a)

20
400

Bitwise Operators used based on bcd

In [1]:
# a=10

# BCD format
# 0001 0000 #10 in bcd
# 0100 0000 #if 10<<2 i.e., 4 0

# Binary format

# 8421
# 1010 # 10 in binary
# 0100 
# 1000



a=1
# 0001
# 0100
print(a>>2)

0

Identity operators

In [ ]:

b=1
print(a is not b)

print(a is  b)

Membership operators

In [ ]:

name = "Siddhi"

print('s' in name )
print('s' not in name )